# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend
backend/products.db
backend/package-lock.json

# Frontend
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
